bin/
bin_v1/
data/*.bin.it*
data/*.log
data/*.smp
data/ignore.bin
*.o
data/w2.bin
data/ref_w2.bin
data/w2_selection.txt
data/w3.bin
data/ref_w3.bin
data/w3_selection.txt
data/*_DONE
data/SC_DONE
data/FINALS_DONE
data/w4.bin
data/ref_w4.bin
data/w4_selection.txt
data/*.tmp
data/st2.bin
data/sw3.bin
data/sw4.bin
data/sw5.bin
data/sw5sel.bin
data/c17seg*.bin
data/c17.bin*
data/c1[78]*.bin
data/c1[78]*.bin.it*
data/c18seg*
data/*.bst
data/*.bst.tmp
data/beldump.smp*
data/belnet.bin*
data/belseg*
data/junkgen.bin*
data/best_beltuned.bin
data/beldump*.smp*
data/beldumpall.smp
data/belnet2.bin*
data/bel2seg*
data/belwide.bin*
data/belwseg*
data/*.blx
data/c19.bin*
data/c20.bin*
gmon.out
.claude/worktrees/
